.btn1 {
  background-color: transparent;
  position: absolute;

  left: 100px;
  top: 140px;
}

.btn2 {
  background-color: transparent;
  position: absolute;
  left: 70px;
  top: 3300px;
}

.btn3 {
  background-color: transparent;
  position: absolute;
  left: 260px;
  top: 3940px;
}

.btn4 {
  background-color: transparent;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 4650px;
}
